<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="main.Properties.Settings.usConnectionString" connectionString="Data Source=MOHAMMEDQAHTAN;Initial Catalog=Qusai;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyDatabaseConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-1011GBP\QUSAIHASAN;integrated security=SSPI;initial catalog=MyDatabase" />
  </connectionStrings>
</configuration>